@import url(https://fonts.googleapis.com/css?family=Carter+One:400);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}


h3 {
  font-family: Carter One;
  margin: auto;
}

h6 {
  /* font-family: 'Bebas Neue', cursive; */
  font-size: 13px;
  font-weight: bold;
  opacity: 0.8;
  display: inline;
  word-break: break-word;

  overflow: hidden;
  text-overflow: ellipsis;
  padding: auto;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.underline{
  fill: orange;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: black;
    background: white;
  }
}