@import url(https://fonts.googleapis.com/css?family=Mulish:700);

html {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  position: relative;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

.jee_content {
  padding-top: 40px;
  padding-bottom: 120px;
}

h1 {
  font-size: 30px;
  line-height: 56px;
  letter-spacing: -.03em;
  text-align: center;
}

.download_button:hover {
  text-shadow: 2px 2px #c5c5c5;

}

h3 {
  font-family: Mulish;
  margin: auto;
}

h6 {
  display: inline;
  padding: auto;
  line-clamp: 2;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-family: Mulish, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  ;
}

.img-fluid {
  border-radius: 5px;
}

.cardImg {
  transition: transform 500ms ease-out;
}

.cardImg:hover {
  transform: translateY(-2%);
}

.pointer:hover {
  cursor: pointer;
}

.underline {
  margin-top: -8px;
  fill: orange;
}

.anchor:hover {
  text-decoration: underline;
}

.social_card:hover {
  border-color: orange;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.published_date {
  font-size: 14px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #f0f0f0;
}

img {
  aspect-ratio: auto 640 / 360;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: black;
    background: white;
  }
}