.header {
    padding: 10px;
    color: white;
}

.brand {
    margin-left: 15px;
}

.nav_link {
    display: flex;
    align-items: center;
}

.nav_content {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 5px;
}

.nav_link_active {
    display: flex;
    align-items: center;
    color: orange !important;
}

.nav_bar {
    position: fixed;
    top: 0px;
    width: 100%;
    margin-top: 0px;
    z-index: 999;
}