.header {
    color: white;

    .nav_link {
        display: flex;
        align-items: center;
    }

    .nav_link_active {
        display: flex;
        align-items: center;
        text-decoration: underline;
    }
}